@import "../base.scss";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1192px;
  margin: 0 18px;
  width: 100%;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;

  margin: 18px;

  @include tabletDown {
    grid-template-columns: 1fr;
  }
}
