@import "../base.scss";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1192px;
  margin: 0 18px;
  width: 100%;
}

.newBlock {
  border-top: 1px solid $brand;
  background-color: $grey;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.newTitle {
  font-size: 24px;
  font-family: $fontBrand;
  color: $brand;
}
