@import "../base.scss";

.root {
  width: 100%;
  height: 150px;
  display: flex;
  margin-bottom: 48px;
  color: $brand;

  @include phone {
    height: 120px;
    max-height: 120px;
    margin-bottom: 24px;
  }
}

.link {
  text-decoration: none;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include phone {
    font-size: 13px;
  }
}

.title {
  font-size: 18px;
  margin: 0;
  font-weight: 700;

  @include phone {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.image {
  object-fit: cover;
  width: 200px;

  @include phoneTiny {
    width: 150px;
  }
}

.postInformation {
  margin-right: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include phone {
    margin-right: 16px;
  }
}

.categoryName {
  color: $complementary;
}

.time {
  display: block;

  @include phoneTiny {
    display: none;
  }
}

.dateTimeBlock {
  display: flex;
}

.dot {
  margin: 0 7px;
}

.description {
  margin-top: 8px;
  font-size: 16px;
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgba(117, 117, 117, 1);

  @include phone {
    font-size: 14px;
    -webkit-line-clamp: 2;
  }
}
