@import "../base";

.root {
  display: flex;
  flex-direction: column;

  // -webkit-box-shadow: 0px 6px 25px 5px rgba(231, 162, 130, 0.27);
  // box-shadow: 0px 6px 25px 5px rgba(231, 162, 130, 0.27);
  // FBFDFF
  -webkit-box-shadow: 0px 6px 25px 5px #b9d5f18c;
  box-shadow: 0px 6px 25px 5px #b9d5f18c;
}

.nav {
  display: flex;
  justify-content: center;
  height: 75px;
  border-bottom: 1px solid $brand;

  background: linear-gradient(
    -45deg,
    $secondary,
    rgb(232, 219, 197),
    rgb(241, 144, 144),
    rgb(223, 137, 87)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.menu {
  display: none;
  background-color: $brand;
  padding: 16px 0;

  @include phone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    color: $secondary;
    padding: 12px;
  }
}

.links {
  @include phone {
    display: none;
  }
}

.logo {
  margin: 0;
  letter-spacing: -2px;
  font-weight: 400;
  font-size: 40px;
  text-decoration: none;

  @include brandFont;

  @include phone {
    font-size: 32px;
  }
}

.content {
  max-width: 1192px;
  margin: 0 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
