@import "../base";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 18px 0 18px;
}

.content {
  max-width: 800px;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  margin: 24px 0 32px 0;

  @include phone {
    margin: 16px 0 24px 0;
  }
}

.headerText {
  font-size: 65px;
  font-weight: 400;
  margin: 0;

  @include brandFont;

  @include phone {
    font-size: 32px;
  }
}

.svg {
  height: 200px;
  width: auto;

  @include phone {
    display: none;
  }
}

.svg2 {
  height: 100%;
  margin-left: 64px;
  max-height: 270px;

  @include phone {
    display: none;
  }
}

.line {
  height: 1px;
  background-color: $brand;
  margin-bottom: 40px;
}
