$secondary: rgb(231, 162, 130);
// $secondary: rgb(232, 219, 197);
$brand: rgb(23, 42, 58);
$grey: rgb(240, 240, 240);
$midGrey: rgba(117, 117, 117, 1);
$complementary: rgb(21, 209, 106);
// $complementary: rgb(47, 191, 113);

$fontBrand: "Fraunces", serif;

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(251, 253, 255);
}

.buyButton {
  background-color: $complementary;
  cursor: pointer;
  text-decoration: none;
}

::-moz-selection {
  color: $brand;
  background: $complementary;
}

::selection {
  color: $brand;
  background: $complementary;
}

.complementary {
  color: $complementary;
}

@mixin tabletDown {
  @media only screen and (max-width: 1320px) {
    @content;
  }
}

@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin phoneTiny {
  @media only screen and (max-width: 495px) {
    @content;
  }
}

@mixin brandFont {
  font-family: $fontBrand;
  color: $brand;
}
